{% load i18n %}
<script>
      function skillChange(selectElement) {
          var selectedSkill = selectElement.val();
          var parentForm = selectElement.parents().closest("form");
          if (selectedSkill && selectedSkill.includes("create")) {
              let dynamicskills = $("#dynamicSkills");
              var view = parentForm.serialize();
              dynamicskills.attr("hx-vals", `{"data":"${view}"}`);
              dynamicskills.click();
          }
      }
      function technicalSkillChange(selectElement) {
          var selectedSkill = selectElement.val();
          var parentForm = selectElement.parents().closest("form");
          if (selectedSkill && selectedSkill.includes("create")) {
              let dynamicTechnicalSkills = $("#dynamicTechnicalSkills");
              var view = parentForm.serialize();
              dynamicTechnicalSkills.attr("hx-vals", `{"data":"${view}"}`);
              dynamicTechnicalSkills.click();
          }
      }
      function nonTechnicalSkillChange(selectElement) {
          var selectedSkill = selectElement.val();
          var parentForm = selectElement.parents().closest("form");
          if (selectedSkill && selectedSkill.includes("create")) {
              let dynamicNonTechnicalSkills = $("#dynamicNonTechnicalSkills");
              var view = parentForm.serialize();
              dynamicNonTechnicalSkills.attr("hx-vals", `{"data":"${view}"}`);
              dynamicNonTechnicalSkills.click();
          }
      }
      $(document).ready(function(){
          $("[name= 'skills']").on("change", function(){
              skillChange($(this))
          })
          $("[name= 'technical_skills']").on("change", function(){
              technicalSkillChange($(this))
          })
          $("[name= 'non_technical_skills']").on("change", function(){
              nonTechnicalSkillChange($(this))
          })
      });
      {% if dynamic %}
      setTimeout(function () {
        $('#dynamicCreateModal').removeClass('oh-modal--show');
      }, 500);
    {% endif %}
</script>

<script>
    $(document).ready(function() {
        function formatOption(option) {
            if (!option.id) {
                return option.text;
            }
            var $option = $('<span></span>').text(option.text);
            if (option.id === 'create') {
                $option.addClass('text-info');
            }
            return $option;
        }
        $('[name = "skills"]').select2({
            templateResult: formatOption,
            templateSelection: formatOption
        });
        $('[name = "technical_skills"]').select2({
            templateResult: formatOption,
            templateSelection: formatOption
        });
        $('[name = "non_technical_skills"]').select2({
            templateResult: formatOption,
            templateSelection: formatOption
        });
    });
</script>
{% if messages %}
<div class="oh-alert-container">
    {% for message in messages %}
    <div class="oh-alert oh-alert--animated {{message.tags}}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="oh-modal__dialog-header pb-0">
    <h5 class="oh-modal__dialog-title" id="addRecruitmentModalLabel"
        >{% trans "Update" %} {{form.verbose_name}}</span
    >
    <button class="oh-modal__close" aria-label="Close" >
        <ion-icon name="close-outline"></ion-icon>
    </button>
</div>
<div class="oh-modal__dialog-body" id="addRecruitmentModalBody">
    <form hx-post="{% url 'recruitment-update' form.instance.id %}" hx-target="#objectUpdateModalTarget" class="oh-general__tab-target oh-profile-section">
        {% csrf_token %}
        <div>
            {% csrf_token %}
            <div class="row" id="recruitmentUpdateContainer">
                {% for error in form.non_field_errors %}
                    <ul class="errorlist">
                        <li>{{error}}</li>
                    </ul>
                {% endfor %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="oh-label" for="{{form.title.id_for_label}}"
                        >{{form.title.label}}
                        <span class="text-danger">*</span></label
                    >
                    {{form.title}} {{form.title.errors}}
                </div>

                
                <!-- Job Description Sections -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="oh-label" for="{{form.job_summary.id_for_label}}"
                        >{{form.job_summary.label}}</label
                    >
                    {{form.job_summary}} {{form.job_summary.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="oh-label" for="{{form.key_responsibilities.id_for_label}}"
                        >{{form.key_responsibilities.label}}</label
                    >
                    {{form.key_responsibilities}} {{form.key_responsibilities.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="oh-label" for="{{form.preferred_qualifications.id_for_label}}"
                        >{{form.preferred_qualifications.label}}</label
                    >
                    {{form.preferred_qualifications}} {{form.preferred_qualifications.errors}}
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-6"
                    id="openPositionUpdateContainer"
                >
                    <label class="oh-label" for="{{form.open_positions.id_for_label}}"
                        >{{form.open_positions.label}}
                        <span class="text-danger">*</span></label
                    >
                    {{form.open_positions}} {{form.open_positions.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.recruitment_managers.id_for_label}}"
                        >{{form.recruitment_managers.label}}
                        <span class="text-danger">*</span></label
                    >
                    {{form.recruitment_managers}}
                    {{form.recruitment_managers.errors}}
                </div>
                
                <!-- Default Stage Manager -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.default_stage_manager.id_for_label}}"
                        >{{form.default_stage_manager.label}}</label
                    >
                    {{form.default_stage_manager}}
                    {{form.default_stage_manager.errors}}
                </div>
                
                <!-- Interviewer Assignments -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.l1_interviewer.id_for_label}}"
                        >{{form.l1_interviewer.label}}</label
                    >
                    {{form.l1_interviewer}}
                    {{form.l1_interviewer.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.l2_interviewer.id_for_label}}"
                        >{{form.l2_interviewer.label}}</label
                    >
                    {{form.l2_interviewer}}
                    {{form.l2_interviewer.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.l3_interviewer.id_for_label}}"
                        >{{form.l3_interviewer.label}}</label
                    >
                    {{form.l3_interviewer}}
                    {{form.l3_interviewer.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.start_date.id_for_label}}"
                        >{{form.start_date.label}}</label
                    >
                    {{form.start_date}} {{form.start_date.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.end_date.id_for_label}}"
                        >{{form.end_date.label}}</label
                    >
                    {{form.end_date}} {{form.end_date.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.vacancy.id_for_label}}">{{form.vacancy.label}}</label>
                    {{form.vacancy}} {{form.vacancy.errors}}
                </div>
                
                <!-- Salary Range -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.salary_min.id_for_label}}"
                        >{{form.salary_min.label}}</label
                    >
                    {{form.salary_min}} {{form.salary_min.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.salary_max.id_for_label}}"
                        >{{form.salary_max.label}}</label
                    >
                    {{form.salary_max}} {{form.salary_max.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.salary_currency.id_for_label}}"
                        >{{form.salary_currency.label}}</label
                    >
                    {{form.salary_currency}} {{form.salary_currency.errors}}
                </div>
                
                <!-- Employment Type -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.employment_type.id_for_label}}"
                        >{{form.employment_type.label}}</label
                    >
                    {{form.employment_type}} {{form.employment_type.errors}}
                </div>
                
                <!-- Location Details -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.work_location.id_for_label}}"
                        >{{form.work_location.label}}</label
                    >
                    {{form.work_location}} {{form.work_location.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.remote_policy.id_for_label}}"
                        >{{form.remote_policy.label}}</label
                    >
                    {{form.remote_policy}} {{form.remote_policy.errors}}
                </div>
                
                <!-- Experience Requirements -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.min_experience_years.id_for_label}}"
                        >{{form.min_experience_years.label}}</label
                    >
                    {{form.min_experience_years}} {{form.min_experience_years.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.max_experience_years.id_for_label}}"
                        >{{form.max_experience_years.label}}</label
                    >
                    {{form.max_experience_years}} {{form.max_experience_years.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.required_education_level.id_for_label}}"
                        >{{form.required_education_level.label}}</label
                    >
                    {{form.required_education_level}} {{form.required_education_level.errors}}
                </div>
                
                <!-- Application Deadline -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.application_deadline.id_for_label}}"
                        >{{form.application_deadline.label}}</label
                    >
                    {{form.application_deadline}} {{form.application_deadline.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.company_id.id_for_label}}">{{form.company_id.label}}</label>
                    {{form.company_id}} {{form.company_id.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.survey_templates.id_for_label}}"
                        >{{form.survey_templates.label}}</label
                    >
                    {{form.survey_templates}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.technical_skills.id_for_label}}"
                        >{{form.technical_skills.label}}</label
                    >
                    {{form.technical_skills}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.non_technical_skills.id_for_label}}"
                        >{{form.non_technical_skills.label}}</label
                    >
                    {{form.non_technical_skills}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="{{form.publish_in_linkedin.id_for_label}}"
                    title="{{form.publish_in_linkedin.help_text|safe}}"
                        >{{form.publish_in_linkedin.label}}</label
                    >
                    <div class="w-100 d-flex" style="align-items: center"6>
                        <div class="oh-switch">{{form.publish_in_linkedin}}</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6" id="">
                    <label class="oh-label" for="{{form.linkedin_account_id.id_for_label}}"
                        >{{form.linkedin_account_id.label}}</label
                    >
                    {{form.linkedin_account_id}} {{form.linkedin_account_id.errors}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label
                        class="oh-label"
                        for="{{form.is_published.id_for_label}}"
                        title="{{form.is_published.help_text|safe}}"
                        >{{form.is_published.label}} ?</label
                    >
                    <div class="w-100 d-flex" style="align-items: center">
                        <div class="oh-switch">{{form.is_published}}</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.optional_profile_image.id_for_label}}" title="{{form.optional_profile_image.help_text|safe}}">
                        {{form.optional_profile_image.label}} ?
                    </label>
                    <div class="w-100 d-flex" style="align-items: center">
                        <div class="oh-switch">{{form.optional_profile_image}}</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <label class="oh-label" for="{{form.optional_resume.id_for_label}}" title="{{form.optional_resume.help_text|safe}}">
                        {{form.optional_resume.label}} ?
                    </label>
                    <div class="w-100 d-flex" style="align-items: center">
                        <div class="oh-switch">{{form.optional_resume}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <button
                type="submit"
                class="mt-4 pl-5 pr-5 oh-btn oh-btn--secondary"
            >
                {% trans "Save" %}
            </button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        if (!$("#id_publish_in_linkedin").is(":checked")) {
            const linkedInInput = $("[name='linkedin_account_id']");
		    linkedInInput.closest('div').toggleClass('d-none');
          }
    });
</script>
